:root {
  --primary: #044394;
  --secondary: #a1caf3;
  --tertiary: #2c2d33;
}

* {
  font-family: Georgia, serif;
  font-weight: bold;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary);
  padding: 20px 5% 20px 0;
  flex-wrap: wrap;
  font-weight: bold;
}

header h1 {
  background-color: var(--secondary);
  color: var(--tertiary);
  padding: 0 1% 0 5%;
  line-height: 1;
  font-size: 4rem;
  margin: 0;
}

header img {
  max-width: 3vw;
  max-height: 3vw;
}

/* Nav Bar */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 10px 15px;
  margin: 0 10px 0 0;
}

nav a:hover {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--primary);
}

/* Hero Image - Banner */
.hero {
  display: flex;
  background-image: url(../images/banner-image.jpg);
  height: 25vh;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2% 5%;
  text-align: right;
}
.hero div {
  flex: 0 0 90%;
}

.hero h2 {
  color: white;
  display: inline;
  width: max-content;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5%;
  background-color: var(--secondary);
  color: var(--tertiary);
}

/* Webpage Main Section Wrapper*/
.main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Side Headers */
.main h3 {
  flex: 0 0 20%;
  font-size: 2rem;
  color: var(--tertiary);
}
/* Selects similar page sections */
.section {
  display: flex;
  margin: 25px 0;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*Sets limits for container */
.section > div {
  flex: 0 0 70%;
}

/*adds right line and styles heading */
.section > h3 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 10px;
  border-right: 5px solid var(--primary);
  font-size: 3vw;
}

/* About Me Section */
.about-me {
  display: flex;
}

/* Work Section Container - Holds Link Gallery */
.work-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Work Section Images */
.item {
  display: flex;
  flex-direction: row;
  min-height: 15vw;
  max-height: 15vw;
  border: 5px solid var(--secondary);
  text-decoration: none;
  flex-basis: 47%;
  background-size: 101%;
  background-repeat: no-repeat;
  align-items: center;
  margin: 0.3em;
  justify-content: flex-start;
}
/*Words inside the work section*/
.item h3 {
  color: var(--primary);
  background-color: var(--secondary);
  flex-basis: 15%;
  padding: 5px;
  border: hidden;
}

.item:hover {
  background-blend-mode: hard-light;
  background-color: var(--primary, 0.5);
}

.connected {
  min-height: 15vw;
  flex-basis: 100%;
}

/* Contact Me Section */
#contact-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

#contact-me a {
  color: var(--tertiary);
  font-size: 1rem;
  padding: 10px 15px;
  margin: 0 10px 0 0;
}

#contact-me a:hover {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--primary);
}

/*Image links*/

.eventPlan {
  background-image: url("../images/EventPlan-SC.png");
}

.weather-dashboard {
  background-image: url("../images/weather-dashboard.png");
}

.dayplanner {
  background-image: url("../images/dayplanner.png");
}

.quiz {
  background-image: url("../images/quiz.png");
}

.passwordGen {
  background-image: url("../images/passwordGen.png");
}

.firstSite {
  background-image: url("../images/firstWebPage.png");
}

/*Responsive Media Query Section */
@media screen and (max-width: 1100px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 8vw;
  }

  header nav {
    justify-content: center;
  }

  .hero {
    justify-content: center;
    text-align: center;
  }

  .item {
    min-height: 15vw;
    flex-basis: 100%;
  }
}
